button.MuiButton-containedPrimary.MuiButton-root {
    background-color:$primary-color1;
    font-family: $primary-font-family;
    font-weight: bold;
    font-size: 14px;
    border-radius: 0px;
    padding: 3px 8px;
    margin: auto;
}
