.LocationSearch-container {
    grid-row: 3/5;
    grid-column: 2/7;

    #LocationSearch {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-height: 100%;

        div.LocationSearch-searchInput {
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            button {
                background-color: #secondary-col;
            }
        }
    }
}
